nav,
.container-fluid,
.navbar-expand,
.navbar,
.collapse,
#navbarSupportedContent,
.collapse .navbar-collapse {
  background-color: #e9ecef !important;
  z-index: 999;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgba(60, 60, 60, 0.12);
  height: 55px;
}
