<main class="jumbotron">
  <section class="animated fadeIn">
    <h2 class="display-4">Ubicación #{{id}} | Rick&MortyPedia</h2>
    <p class="lead">Aquí en Rick&MortyPedia también te mostramos información de la <b>ubicación</b>!</p>
  </section>
  <hr class="my-4">

  <section class="wrapper animated fadeIn fast">
    <article class="row">
      <div class="row">
        <div class="col-md-8">

          <h2>{{location.name}}</h2>
        </div>
        <div class="col-md-4">

          <a [routerLink]="['/personajes']" class="btn btn-outline-dark btn-block">Ir a los personajes</a>
        </div>
      </div>
      <hr>

      <div class="flex flex-dir-col">

        <div class="flex alig-center">
          Tipo de ubicación/localización: <span>{{location.type}}</span>
        </div>

        <div class="flex alig-center">
          Dimensión: <span>{{location.dimension | characterLocation}}</span>
        </div>

        <div>
          Esta ubicación/lugar tiene un total de: <span>{{characters.length}} residentes</span>
          <section class="wrapper animated fadeIn fast">
            <app-character-card *ngFor="let character of characters" [character]="character" class="card">
            </app-character-card>
          </section>

        </div>
      </div>
    </article>
  </section>
  <hr class="my-4">
</main>