<main class="jumbotron">
  <section class="animated fadeIn">
    <h2 class="display-4">Personajes | Rick&MortyPedia</h2>
    <p class="lead">Aquí en Rick&MortyPedia te mostramos todos los <b>personajes</b> de <b>Rick and Morty</b>!</p>
  </section>
  <hr class="my-4">

  <div class="row margin-bottom">
    <div class="col-md-7">
<h2>Página {{page}} de 42</h2>
    </div>
    <div class="col-md-5 buttons">
      <button class="btn btn-outline-dark" role="button" (click)="previoustPage()">
        <i class='bx bx-skip-previous-circle'></i>
        Personajes anteriores
      </button>
      <button class="btn btn-outline-dark" role="button" (click)="nextPage()">
        Personajes siguientes
        <i class='bx bx-skip-next-circle'></i>
      </button>
    </div>
  </div>

  <section class="wrapper animated fadeIn fast">
    <app-character-card *ngFor="let character of characters" [character]="character" class="card"></app-character-card>
  </section>
  <hr class="my-4">
</main>
