<main class="jumbotron">
  <section>
    <h2 class="display-4">Personajes | Rick&MortyPedia</h2>
    <p class="lead">Aquí en Rick&MortyPedia te mostramos todos los <b>personajes</b> de <b>Rick and Morty</b>!</p>
    <hr class="my-4">
    <div class="wrapper">
      <article>
        <div class="character-info">
          <div class="divider">
            <h2><b>Abradolf Lincler</b></h2>
            <span class="status-indicator-info">
              <b class="status-indicator"></b>
              <span>vivo</span> - <span>Humano</span>
            </span>
          </div>
        </div>

        <div class="character-info">
          <span class="subtitle">Última ubicación conocida:</span>
          <a href="#">Testicle Monster Dimension</a>
        </div>

        <div class="character-info">
          <span class="subtitle">Visto por primera vez en:</span>
          <a href="#">Close Rick-counters of the Rick Kind</a>
        </div>

        <div class="character-image">
          <img src="https://rickandmortyapi.com/api/character/avatar/7.jpeg" alt="">
        </div>
      </article>
      <article>2</article>
      <article>3</article>
      <article>4</article>
      <article>5</article>
      <article>6</article>
      <article>6</article>
      <article>6</article>
      <article>6</article>
      <article>6</article>
      <article>6</article>
      <article>6</article>
      <article>6</article>
    </div>
  </section>
</main>