.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1920px;
  width: 102%;
  transform: translate(-1%);
  border-radius: 10px;
  padding-bottom: 30px;
}
