<section class="jumbotron animated fadeIn">
  <h2 class="display-4 animated fadeIn fast">Bienvenid@ a tu plataforma Rick&MortyPedia!</h2>
  <p class="lead animated fadeIn fast">Rick&MortyPedia es la plataforma donde encontrarás toda la infromación de la serie de televisión
    estadounidense y comedia con ya 6 temporadas <b>Rick y Morty</b>!</p>
  <hr class="my-4">
  <article class="animated fadeIn fast">
    <p>Haciendo click en el siguiente botón podrás ver información sobre los personajes de <b>Rick and Morty</b>!</p>
    <a class="btn btn-outline-dark" [routerLink]="['/personajes']" role="button">Ver los personajes!</a>

  </article>
</section>
